* {
    box-sizing: border-box;
}

#hunger-bar,
#stock-bar {
    display: inline-block;
    width: 100px;
    height: 1rem;
    border: solid black 1px;
    border-radius: 2px;
    --fill-level: 0%;
}

#hunger-bar {
    background: linear-gradient(to right, red var(--fill-level), transparent var(--fill-level));
}

#stock-bar {
    background: linear-gradient(to right, green var(--fill-level), transparent var(--fill-level));
}

#habitants {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.habitant-container {
    width: 300px;
    box-shadow: 0 0 5px 0 gray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.value-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h3 {
    margin: 0;
    padding: 0;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.chosen {
    border: 2px solid black;
}

select {
    margin-right: 5px;
}